html{
  height: 100%, repeat;
}

body{
  background: linear-gradient(#b18cfe, #001e57);
  color: white;
  font-family: "Trebuchet MS"; 
}

.grid-container {
  display: grid;
  grid-template-areas: 
    repeat(auto-fit, minmax (25rem, 1fr))
}

.fade-in {
  animation: fade-in 2s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.title{
  padding-left: 20px;
}

.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
}

a {
  color: rgb(231, 203, 203);
}

a:hover{
  color: rgb(207, 49, 49);
  transition: color 0.5s ease-out, font-size 0.1s ease-out;
  font-size: 1.1rem;
}

.search {
  height: 30px;
  border-color: #fff !important;
  transition: all 0.5s ease-out;
}

.search::placeholder {
  font-style: italic;
  font-variant: small-caps;
  color: rgb(138, 43, 226);
}

.search:focus {
  border-color: rgb(240, 96, 96) !important;
  transition: all 0.5s ease-out;
}

.emoji {
  width: 50px;
  border-radius: 25px;
  border: 1px solid rgb(98, 117, 117);
  background: white;
  color: rgb(98, 117, 117);
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.emoji:hover {
  border-color: rgb(70, 130, 180);
  background: steelblue;
  color: rgb(11, 32, 32);
  transition: all 0.5s ease-out;
}

img {
  border-radius: 40%;
  width: 300px;
  box-shadow: 5px 5px;
}

.main {
  text-align: center;
}

.footer {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  width: 100%;
  background-color: pink;
}

.submit{
  width: 100px;
  border-radius: 25px;
  border: 1px solid rgb(128, 127, 127);
  background: white;
  color: black;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.submit:hover {
  border-color: rgb(70, 130, 180);
  background: steelblue;
  color: rgb(11, 32, 32);
  transition: all 0.5s ease-out;
}
